@font-face {
   font-family: 'bpg_web_002_caps';
   src: url('bpg_web_002_caps/font.ttf');
}
@font-face {
   font-family: 'bpg_banner_extrasquare_caps';
   src: url('bpg_banner_extrasquare_caps/font.ttf');
}
@font-face {
   font-family: 'bpg_web';
   src: url('bpg_web/font.ttf');
}
